@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Covey's To Do List application.</p>
    <br>
    <a>View the <a asp-area="" asp-controller="Home" asp-action="Quadrants">Quadrants</a> page to see the 4 quadrants of time management.</a>
</div>
